.main,
.app,
.info {
  max-width: 1200px;
  height: 99vh;
  margin: 0 auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  align-content: center;
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: lightblue;
  font-size: 1.2rem;
}

.nav__info,
.nav__title {
  float: left;
  cursor: pointer;
}

.nav__info {
  padding: 10px 0;
}

.nav__spacer {
  float: left;
  padding: 10px 15px;
}

.nav__title {
  padding: 10px 0 10px 15px;
}

.nav__button {
  float: right;
  padding: 10px 20px;
  cursor: pointer;
}

.nav__plus {
  position:relative;
  top:-1.2px;
}

.stopwatch {
  width: 17rem;
  height: 6.5rem;
  margin: 15px;
  background-color: #C02E1D;
  border-radius: 4px;
  text-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.buttonContainer {
  width: 100%;
}

.stopwatch__screen {
  width: 80%;
  margin: 0.7rem 0 0 0;
  padding: 0.2rem;
  background-color: white;
  border-radius: 2px;
  font-size: 1.5rem;
}

.stopwatch__button {
  margin: 0.3rem 0.3rem 0.6rem 0.3rem;
  padding: 0.4rem 0.6rem;
  background-color: white;
  border-radius: 2px;
}
